.top-header {
    text-align: center;
    background-color: #142d4c;
    color:#ececec;
    font-size: xx-large;
    font-weight: bold;
}

.second-header {
    color: #9fd3c7;
    background-color: #142d4c;
}

.image {
    height: auto;
    width: 500px;
}

.recipes {
    color:#385170;
    font-size: large;
}

.copyright {
    font-weight: bolder;
    background-color: #142d4c;
    color:#ececec;
}